

.page-link{
    background-color: var(--green) !important;
    color: #fff !important;
    border: none !important;
}

.page-link:focus{
    background-color: var(--dark-blue) !important;
    color: #fff !important;
    
}

.disabled{
    opacity: .5;
}