.blog_posts{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid var(--dark-blue);
    padding-left:  0 !important;


}

.post_item{
    margin-right: 5rem;
    position: relative;
    padding-bottom: 2rem;
    margin-top: 35px;

}
.post_link.active{
    color: var(--green);
}

.post_item a{
    color: #fff;
    transition: color .25s ease-in-out;
    font-size: 2rem !important;
}

.post_item a:hover{
    color: var(--green);
}