footer {
    padding-bottom: 70px;
    margin-top: 100px;
    background-image: url(../../assets/images/newsletter-bg.de3317b.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}

.footer_block_address .footer_logo {
    display: inline-block;
    margin: 10px 0;

}

.footer_block_address .address {
    color: var(--light-blue);
    margin: 10px 0;
}

.footer_block_address .phone {
    color: var(--light-blue);
    margin: 10px 0;

}

.footer_block_address .mail {
    color: var(--light-blue);
    margin: 10px 0;

}

.footer_item .footer_item_link {
    display: block;
    color: var(--light-blue);
}

.footer_item_title {
    color: #fff;
}