footer {
    padding-bottom: 50px;
    margin-top: 100px;
    background-image: url(../../assets/images/newsletter-bg.de3317b.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}
.footer_content{
    padding-top: 50px;
}

.footer_block_address .footer_logo {
    display: inline-block;
    margin: 10px 0;

}

.footer_block_address .address {
    color: var(--light-blue);
    margin: 10px 0;
}

.footer_block_address .phone {
    color: var(--light-blue);
    margin: 10px 0;

}

.footer_block_address .mail {
    color: var(--light-blue);
    margin: 10px 0;

}

.footer_item .footer_item_link {
    display: block;
    color: var(--light-blue);
}

.footer_item_title {
    color: #fff;
}

.footer_item {
    margin-top: 100px;
}





/* responsive css */

@media (max-width: 576px) {
    .footer_item{
        text-align: center;
        
    }
    .footer_item_title{
        margin-top: 25px;
    }
}

@media (max-width: 768px) {
    .footer_item{
        text-align: center;
        
    }
    .footer_item_title{
        margin-top: 35px;
    }
}

@media (max-width: 992px) {
    .footer_item{
        text-align: center;
        
    }
    

    
}

@media (max-width: 1200px) {}

@media (max-width: 1400px) {}