footer {
    padding-bottom: 50px;
    margin-top: 100px;
    border-top: 1px solid var(--dark-blue);

}
.footer_logo{
    display: inline-block;
    margin-bottom: 15px !important;
}
.footer_content {
    padding-top: 50px;
}

.footer_block_address a,p {
    color: var(--light-blue);
}
.social-media-icons .icon{
    font-size: 2rem;
    margin-right: 1rem;
    filter: drop-shadow(1px 1px var(--green)) !important;
}

.footer_item .footer_item_link {
    display: block;
    color: var(--light-blue);
    transition: color .25s ease;
}

.footer_item .footer_item_link:hover {
    color: var(--green);
}

.footer_item_title {
    color: #fff;
}

.footer_item {
    margin-top: 20px;
}





/* responsive css */

@media (max-width: 576px) {
    .footer_item {
        text-align: center;

    }

    .footer_item_title {
        margin-top: 25px;
    }
}

@media (max-width: 768px) {
    .footer_item {
        text-align: center;

    }

    .footer_item_title {
        margin-top: 35px;
    }
}

@media (max-width: 992px) {
    .footer_item {
        text-align: center;

    }



}

@media (max-width: 1200px) {}

@media (max-width: 1400px) {}