.post-item-card {
    text-align: start;
    height: auto;
    position: relative;
    padding: 20px;
    margin: 25px;
    border-bottom: 1px solid var(--dark-blue);

}

.post-item-card img {
    width: 100%;
    border-radius: 1rem;
    filter: brightness(130%) contrast(90%) sepia(20%) !important;

}

.post-item-card .date {
    opacity: .6;

}

.post-item-card h2 {
    color: var(--green);
    font-size: 2.5rem;
    margin-top: 25px;
}

.post-item-card p {
    color: var(--light-blue);
}

.blog-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .25s ease-in;
    backdrop-filter: blur(15px);
    color: var(--primary);
    padding: 10px 5px;
    border: 2px solid var(--light-blue);
    font-weight: 700;
    
}

.post-item-card:hover .blog-button {
    opacity: 1;
}



@media (max-width: 576px) {}

@media (max-width: 768px) {}

@media (max-width: 1400px) {
    .post-item-card .custom_button {
        font-size: 1.2rem !important;
        margin: 0 !important;
        padding: 1rem;
    }
}

